@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --font-primary: 'Atma';
  --font-secondary: 'Montserrat';
}

html {
  box-sizing: border-box;
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  /* background-color: #e8eaed; */
  background-color: #333;
  height: 300vh;
  overflow: hidden;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.max-width {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .max-width {
    width: min(1440px, 95%);
  }
}
