@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --font-primary: 'Montserrat';
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus,
*::before:focus,
*::after:focus {
  outline: 1px solid #aaa;
}

/* Max width */

.max-width-1440 {
  width: min(100%, 40rem);
  margin-inline: auto;
  padding-inline: 1.5rem;
}
@media screen and (min-width: 900px) {
  .max-width-1440 {
    width: min(1440px, 800px);
  }
}

@media screen and (min-width: 1150px) {
  .max-width-1440 {
    width: min(1440px, 960px);
  }
}

@media screen and (min-width: 1550px) {
  .max-width-1440 {
    width: 1440px;
    padding-inline: 0;
  }
}

/* Section heading */

.section-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

@media screen and (min-width: 1550px) {
  .section-heading {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/* Page loader */

#loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.loader-dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.loader-dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.loader-dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.loader-dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.loader-dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.loader-dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@keyframes slide {
  0% {
    scale: 1;
  }
  50% {
    opacity: 0.3;
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
